/**
 * SUMMARY
 *
 * Body 
 * 	Background Color	: #071220	Firefly (Dark Blue)
 * 	Font Color			: #0CF		Aqua
 *
 * Message Box
 *	Background Image	: img/system.jpg
 * 	Heading Color		: #0CF		Aqua
 * 	Font Color			: #FFF		White
 */

html * {
	font-size 			: 100.01%;
}

body {
	background-color	: #071220;
	color				: #FFF;
	font				: 75% verdana, sans-serif;
}

p, h1 {
	margin				: 0;
}

#container {
	margin				: 50px auto 0 auto;
	width				: 761px;
}

#header, #message, #footer {
	background-image	: url(../img/system.jpg);
}

#header, #footer {
	height				: 150px;
}

#header h1 {
	color				: #0CF;
	font-size			: 200%;
	line-height			: 150px;
	padding-top			: 15px;
	text-align			: center;
	width				: 761px;
}

#message {
	background-position	: -762px 0;
	line-height			: 22px;
	padding				: 0 75px;
}

#footer {
	background-position	: -1524px -161px;
	height				: 75px;
}

#copy {
	color				: #0CF;
	margin-top			: 25px;
	text-align			: center;
}

#message a {
	color               : #0CF;
}